* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

a {
    color: black
}

.TopNav  {
    h3 {
        text-align: center;
    }

    ul {
        display: flex;
        justify-content: center;
        list-style-type: none;
        li {
            padding: 2% 2% 1% ;
        }
    }


}

.Main .topNav {
    h3 {
        text-align: center;
    }

    ul {
        display: flex;
        justify-content: center;
        list-style-type: none;
        li {
            padding: 1% 1% 0 ;
        }
    }
}

.indexPage {
    height: 566px;
    padding: 2% 2% 1%;


    aside {
        width: 25%;
        display: inline-block;
        position: relative;
        top: 14%;
        button {
            display: block;
            margin-left: 16%;
            margin-bottom: 6%;
        }

    }

    main {
        width: 75%;
        height: 90%;
        display: inline-block;
    }
}

.ant-carousel .slick-slide {
    text-align: center;
    line-height: 160px;
    background: #364d79;
    overflow: hidden;
    }

.ant-carousel .slick-slide h3 {
    color: #fff;
}