* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

a {
    color: black
}

//顶部路由路径样式
.TopNav  {
    h3 {
        text-align: center;
    }

    ul {
        display: flex;
        justify-content: center;
        list-style-type: none;
        li {
            padding: 2% 2% 1% ;
        }
    }
}

// 首页两个分块样式
.indexPage {
    height: 566px;
    padding: 2% 2% 1%;


    aside {
        width: 25%;
        display: inline-block;

    }

    main {
        width: 100%;
        height: 90%;
    }

    // 设置轮播样式
    .ant-carousel .slick-slide {
        img {
            border: 2px solid red;
            height: 16rem;
            @media (min-width:1100px) {
                height: 28rem;
            }
        }
    }

}

.signinPage {
    // 首页登录组件
    .signinContent {
        width: 40%;
        margin: 0  auto;
        background-color: #fff;
        box-shadow: 4px 4px 12px 4px #eee;
        nav {
            background-color: #ffa000;
            height: 26px;
            color: white;
            text-align: right;
            font-size: 16px;
            padding-right: 2%;

        }

        header {
            font-size: 18px;
            // display: flex;
            // justify-content: center;
            margin:18px auto 0;
            width: 70%;
            text-align: center;


            a:nth-child(1) {
                border-right: 2px solid #ccc;
                padding-right: 20px;
                margin-right: 20px;
                padding-left: 7%;
            }
            a:nth-child(2) {
                border-right: 2px solid #ccc;
                padding-right: 20px;
                margin-right: 20px;
            }
        }

        main {
            //子路由login组件 使用表单框进行交互
            .login-comp {
                .login-form {
                    margin: 58px auto;
                    max-width: 300px;
                    .login-form-forgot {
                        float: right;
                    }
                    .login-form-button {
                        width: 100%;
                    }
                }

                small {
                    display: block;
                    text-align: center;
                    padding: 4% 0 2%;
                }

            }

            // 子路由扫码登录组件
            .qrlogin-comp {
                border: 2px solid red;
                position: relative;
                svg {
                    position: relative;
                    z-index: 0;
                    margin: 4px auto 20px;
                }
                img {
                    position: absolute;
                    z-index: 1;
                    width: 90px;
                    height: 45px;
                    left: 190px;
                    top: 284px;
                }



            }

        }

    }
}

.userPage {
    opacity: 1;
}





