<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pdd.dao.AddressMapper" >
  <resultMap id="BaseResultMap" type="com.pdd.entity.Address" >
    <id column="address_id" property="addressId" jdbcType="INTEGER" />
    <result column="address_uname" property="addressUname" jdbcType="VARCHAR" />
    <result column="address_phone" property="addressPhone" jdbcType="VARCHAR" />
    <result column="address_address" property="addressAddress" jdbcType="VARCHAR" />
    <result column="address_zipcode" property="addressZipcode" jdbcType="VARCHAR" />
    <result column="address_default" property="addressDefault" jdbcType="INTEGER" />
    <result column="address_uid" property="addressUid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    address_id, address_uname, address_phone, address_address, address_zipcode, address_default, 
    address_uid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from address
    where address_id = #{addressId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from address
    where address_id = #{addressId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pdd.entity.Address" >
    insert into address (address_id, address_uname, address_phone, 
      address_address, address_zipcode, address_default, 
      address_uid)
    values (#{addressId,jdbcType=INTEGER}, #{addressUname,jdbcType=VARCHAR}, #{addressPhone,jdbcType=VARCHAR}, 
      #{addressAddress,jdbcType=VARCHAR}, #{addressZipcode,jdbcType=VARCHAR}, #{addressDefault,jdbcType=INTEGER}, 
      #{addressUid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.pdd.entity.Address" >
    insert into address
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="addressId != null" >
        address_id,
      </if>
      <if test="addressUname != null" >
        address_uname,
      </if>
      <if test="addressPhone != null" >
        address_phone,
      </if>
      <if test="addressAddress != null" >
        address_address,
      </if>
      <if test="addressZipcode != null" >
        address_zipcode,
      </if>
      <if test="addressDefault != null" >
        address_default,
      </if>
      <if test="addressUid != null" >
        address_uid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="addressId != null" >
        #{addressId,jdbcType=INTEGER},
      </if>
      <if test="addressUname != null" >
        #{addressUname,jdbcType=VARCHAR},
      </if>
      <if test="addressPhone != null" >
        #{addressPhone,jdbcType=VARCHAR},
      </if>
      <if test="addressAddress != null" >
        #{addressAddress,jdbcType=VARCHAR},
      </if>
      <if test="addressZipcode != null" >
        #{addressZipcode,jdbcType=VARCHAR},
      </if>
      <if test="addressDefault != null" >
        #{addressDefault,jdbcType=INTEGER},
      </if>
      <if test="addressUid != null" >
        #{addressUid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pdd.entity.Address" >
    update address
    <set >
      <if test="addressUname != null" >
        address_uname = #{addressUname,jdbcType=VARCHAR},
      </if>
      <if test="addressPhone != null" >
        address_phone = #{addressPhone,jdbcType=VARCHAR},
      </if>
      <if test="addressAddress != null" >
        address_address = #{addressAddress,jdbcType=VARCHAR},
      </if>
      <if test="addressZipcode != null" >
        address_zipcode = #{addressZipcode,jdbcType=VARCHAR},
      </if>
      <if test="addressDefault != null" >
        address_default = #{addressDefault,jdbcType=INTEGER},
      </if>
      <if test="addressUid != null" >
        address_uid = #{addressUid,jdbcType=INTEGER},
      </if>
    </set>
    where address_id = #{addressId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pdd.entity.Address" >
    update address
    set address_uname = #{addressUname,jdbcType=VARCHAR},
      address_phone = #{addressPhone,jdbcType=VARCHAR},
      address_address = #{addressAddress,jdbcType=VARCHAR},
      address_zipcode = #{addressZipcode,jdbcType=VARCHAR},
      address_default = #{addressDefault,jdbcType=INTEGER},
      address_uid = #{addressUid,jdbcType=INTEGER}
    where address_id = #{addressId,jdbcType=INTEGER}
  </update>
</mapper>