<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pdd.dao.CartMapper" >
  <resultMap id="BaseResultMap" type="com.pdd.entity.Cart" >
    <id column="cart_id" property="cartId" jdbcType="INTEGER" />
    <result column="cart_uid" property="cartUid" jdbcType="INTEGER" />
    <result column="cart_goods_id" property="cartGoodsId" jdbcType="INTEGER" />
    <result column="cart_num" property="cartNum" jdbcType="INTEGER" />
    <result column="cart_status" property="cartStatus" jdbcType="INTEGER" />
    <result column="cart_create_time" property="cartCreateTime" jdbcType="INTEGER" />
    <result column="cart_update_time" property="cartUpdateTime" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    cart_id, cart_uid, cart_goods_id, cart_num, cart_status, cart_create_time, cart_update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from cart
    where cart_id = #{cartId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from cart
    where cart_id = #{cartId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pdd.entity.Cart" >
    insert into cart (cart_id, cart_uid, cart_goods_id, 
      cart_num, cart_status, cart_create_time, 
      cart_update_time)
    values (#{cartId,jdbcType=INTEGER}, #{cartUid,jdbcType=INTEGER}, #{cartGoodsId,jdbcType=INTEGER}, 
      #{cartNum,jdbcType=INTEGER}, #{cartStatus,jdbcType=INTEGER}, #{cartCreateTime,jdbcType=INTEGER}, 
      #{cartUpdateTime,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.pdd.entity.Cart" >
    insert into cart
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cartId != null" >
        cart_id,
      </if>
      <if test="cartUid != null" >
        cart_uid,
      </if>
      <if test="cartGoodsId != null" >
        cart_goods_id,
      </if>
      <if test="cartNum != null" >
        cart_num,
      </if>
      <if test="cartStatus != null" >
        cart_status,
      </if>
      <if test="cartCreateTime != null" >
        cart_create_time,
      </if>
      <if test="cartUpdateTime != null" >
        cart_update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cartId != null" >
        #{cartId,jdbcType=INTEGER},
      </if>
      <if test="cartUid != null" >
        #{cartUid,jdbcType=INTEGER},
      </if>
      <if test="cartGoodsId != null" >
        #{cartGoodsId,jdbcType=INTEGER},
      </if>
      <if test="cartNum != null" >
        #{cartNum,jdbcType=INTEGER},
      </if>
      <if test="cartStatus != null" >
        #{cartStatus,jdbcType=INTEGER},
      </if>
      <if test="cartCreateTime != null" >
        #{cartCreateTime,jdbcType=INTEGER},
      </if>
      <if test="cartUpdateTime != null" >
        #{cartUpdateTime,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pdd.entity.Cart" >
    update cart
    <set >
      <if test="cartUid != null" >
        cart_uid = #{cartUid,jdbcType=INTEGER},
      </if>
      <if test="cartGoodsId != null" >
        cart_goods_id = #{cartGoodsId,jdbcType=INTEGER},
      </if>
      <if test="cartNum != null" >
        cart_num = #{cartNum,jdbcType=INTEGER},
      </if>
      <if test="cartStatus != null" >
        cart_status = #{cartStatus,jdbcType=INTEGER},
      </if>
      <if test="cartCreateTime != null" >
        cart_create_time = #{cartCreateTime,jdbcType=INTEGER},
      </if>
      <if test="cartUpdateTime != null" >
        cart_update_time = #{cartUpdateTime,jdbcType=INTEGER},
      </if>
    </set>
    where cart_id = #{cartId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pdd.entity.Cart" >
    update cart
    set cart_uid = #{cartUid,jdbcType=INTEGER},
      cart_goods_id = #{cartGoodsId,jdbcType=INTEGER},
      cart_num = #{cartNum,jdbcType=INTEGER},
      cart_status = #{cartStatus,jdbcType=INTEGER},
      cart_create_time = #{cartCreateTime,jdbcType=INTEGER},
      cart_update_time = #{cartUpdateTime,jdbcType=INTEGER}
    where cart_id = #{cartId,jdbcType=INTEGER}
  </update>
</mapper>