<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pdd.dao.GoodsMapper" >
  <resultMap id="BaseResultMap" type="com.pdd.entity.Goods" >
    <id column="goods_id" property="goodsId" jdbcType="INTEGER" />
    <result column="goods_title" property="goodsTitle" jdbcType="VARCHAR" />
    <result column="goods_detail" property="goodsDetail" jdbcType="VARCHAR" />
    <result column="goods_image" property="goodsImage" jdbcType="VARCHAR" />
    <result column="goods_price" property="goodsPrice" jdbcType="INTEGER" />
    <result column="goods_instock" property="goodsInstock" jdbcType="INTEGER" />
    <result column="goods_status" property="goodsStatus" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    goods_id, goods_title, goods_detail, goods_image, goods_price, goods_instock, goods_status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from goods
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </select>
  <select id="selectAllGoods" resultSets="Goods">
  select * from goods
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from goods
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pdd.entity.Goods" >
    insert into goods (goods_id, goods_title, goods_detail, 
      goods_image, goods_price, goods_instock, 
      goods_status)
    values (#{goodsId,jdbcType=INTEGER}, #{goodsTitle,jdbcType=VARCHAR}, #{goodsDetail,jdbcType=VARCHAR}, 
      #{goodsImage,jdbcType=VARCHAR}, #{goodsPrice,jdbcType=INTEGER}, #{goodsInstock,jdbcType=INTEGER}, 
      #{goodsStatus,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.pdd.entity.Goods" >
    insert into goods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="goodsTitle != null" >
        goods_title,
      </if>
      <if test="goodsDetail != null" >
        goods_detail,
      </if>
      <if test="goodsImage != null" >
        goods_image,
      </if>
      <if test="goodsPrice != null" >
        goods_price,
      </if>
      <if test="goodsInstock != null" >
        goods_instock,
      </if>
      <if test="goodsStatus != null" >
        goods_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="goodsId != null" >
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="goodsTitle != null" >
        #{goodsTitle,jdbcType=VARCHAR},
      </if>
      <if test="goodsDetail != null" >
        #{goodsDetail,jdbcType=VARCHAR},
      </if>
      <if test="goodsImage != null" >
        #{goodsImage,jdbcType=VARCHAR},
      </if>
      <if test="goodsPrice != null" >
        #{goodsPrice,jdbcType=INTEGER},
      </if>
      <if test="goodsInstock != null" >
        #{goodsInstock,jdbcType=INTEGER},
      </if>
      <if test="goodsStatus != null" >
        #{goodsStatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pdd.entity.Goods" >
    update goods
    <set >
      <if test="goodsTitle != null" >
        goods_title = #{goodsTitle,jdbcType=VARCHAR},
      </if>
      <if test="goodsDetail != null" >
        goods_detail = #{goodsDetail,jdbcType=VARCHAR},
      </if>
      <if test="goodsImage != null" >
        goods_image = #{goodsImage,jdbcType=VARCHAR},
      </if>
      <if test="goodsPrice != null" >
        goods_price = #{goodsPrice,jdbcType=INTEGER},
      </if>
      <if test="goodsInstock != null" >
        goods_instock = #{goodsInstock,jdbcType=INTEGER},
      </if>
      <if test="goodsStatus != null" >
        goods_status = #{goodsStatus,jdbcType=INTEGER},
      </if>
    </set>
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pdd.entity.Goods" >
    update goods
    set goods_title = #{goodsTitle,jdbcType=VARCHAR},
      goods_detail = #{goodsDetail,jdbcType=VARCHAR},
      goods_image = #{goodsImage,jdbcType=VARCHAR},
      goods_price = #{goodsPrice,jdbcType=INTEGER},
      goods_instock = #{goodsInstock,jdbcType=INTEGER},
      goods_status = #{goodsStatus,jdbcType=INTEGER}
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </update>
</mapper>