<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pdd.dao.TypeMapper" >
  <resultMap id="BaseResultMap" type="com.pdd.entity.Type" >
    <id column="type_id" property="typeId" jdbcType="INTEGER" />
    <result column="type_info" property="typeInfo" jdbcType="VARCHAR" />
    <result column="type_thumbail" property="typeThumbail" jdbcType="VARCHAR" />
    <result column="type_parentsid" property="typeParentsid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    type_id, type_info, type_thumbail, type_parentsid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from type
    where type_id = #{typeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from type
    where type_id = #{typeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pdd.entity.Type" >
    insert into type (type_id, type_info, type_thumbail, 
      type_parentsid)
    values (#{typeId,jdbcType=INTEGER}, #{typeInfo,jdbcType=VARCHAR}, #{typeThumbail,jdbcType=VARCHAR}, 
      #{typeParentsid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.pdd.entity.Type" >
    insert into type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="typeId != null" >
        type_id,
      </if>
      <if test="typeInfo != null" >
        type_info,
      </if>
      <if test="typeThumbail != null" >
        type_thumbail,
      </if>
      <if test="typeParentsid != null" >
        type_parentsid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="typeId != null" >
        #{typeId,jdbcType=INTEGER},
      </if>
      <if test="typeInfo != null" >
        #{typeInfo,jdbcType=VARCHAR},
      </if>
      <if test="typeThumbail != null" >
        #{typeThumbail,jdbcType=VARCHAR},
      </if>
      <if test="typeParentsid != null" >
        #{typeParentsid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pdd.entity.Type" >
    update type
    <set >
      <if test="typeInfo != null" >
        type_info = #{typeInfo,jdbcType=VARCHAR},
      </if>
      <if test="typeThumbail != null" >
        type_thumbail = #{typeThumbail,jdbcType=VARCHAR},
      </if>
      <if test="typeParentsid != null" >
        type_parentsid = #{typeParentsid,jdbcType=INTEGER},
      </if>
    </set>
    where type_id = #{typeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pdd.entity.Type" >
    update type
    set type_info = #{typeInfo,jdbcType=VARCHAR},
      type_thumbail = #{typeThumbail,jdbcType=VARCHAR},
      type_parentsid = #{typeParentsid,jdbcType=INTEGER}
    where type_id = #{typeId,jdbcType=INTEGER}
  </update>
</mapper>