<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huamall.dao.GoodsMapper" >
  <resultMap id="BaseResultMap" type="com.huamall.entity.Goods" >
    <id column="goods_id" property="goodsId" jdbcType="INTEGER" />
    <result column="goods_title" property="goodsTitle" jdbcType="VARCHAR" />
    <result column="goods_detail" property="goodsDetail" jdbcType="VARCHAR" />
    <result column="goods_image" property="goodsImage" jdbcType="VARCHAR" />
    <result column="goods_price" property="goodsPrice" jdbcType="INTEGER" />
    <result column="goods_instock" property="goodsInstock" jdbcType="INTEGER" />
    <result column="goods_status" property="goodsStatus" jdbcType="INTEGER" />
    <result column="goods_typeid" property="goodsTypeid" jdbcType="INTEGER" />
	<result column="goods_color" property="goodsColor" jdbcType="VARCHAR" />
    <result column="goods_standard" property="goodsStandard" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    goods_id, goods_title, goods_detail, goods_image, goods_price, goods_instock, goods_status, 
    goods_typeid, goods_color, goods_standard
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from goods
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </select>
  
  <select id="selectAllGoods" resultType="com.huamall.entity.Goods">
  select * from goods
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from goods
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.huamall.entity.Goods" >
    insert into goods (goods_id, goods_title, goods_detail, 
      goods_image, goods_price, goods_instock, 
      goods_status, goods_typeid, goods_color, 
      goods_standard)
    values (#{goodsId,jdbcType=INTEGER}, #{goodsTitle,jdbcType=VARCHAR}, #{goodsDetail,jdbcType=VARCHAR}, 
      #{goodsImage,jdbcType=VARCHAR}, #{goodsPrice,jdbcType=INTEGER}, #{goodsInstock,jdbcType=INTEGER}, 
      #{goodsStatus,jdbcType=INTEGER}, #{goodsTypeid,jdbcType=INTEGER}, #{goodsColor,jdbcType=VARCHAR}, 
      #{goodsStandard,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.huamall.entity.Goods" >
    insert into goods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="goodsTitle != null" >
        goods_title,
      </if>
      <if test="goodsDetail != null" >
        goods_detail,
      </if>
      <if test="goodsImage != null" >
        goods_image,
      </if>
      <if test="goodsPrice != null" >
        goods_price,
      </if>
      <if test="goodsInstock != null" >
        goods_instock,
      </if>
      <if test="goodsStatus != null" >
        goods_status,
      </if>
      <if test="goodsTypeid != null" >
        goods_typeid,
      </if>
	   <if test="goodsColor != null" >
        goods_color,
      </if>
      <if test="goodsStandard != null" >
        goods_standard,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="goodsId != null" >
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="goodsTitle != null" >
        #{goodsTitle,jdbcType=VARCHAR},
      </if>
      <if test="goodsDetail != null" >
        #{goodsDetail,jdbcType=VARCHAR},
      </if>
      <if test="goodsImage != null" >
        #{goodsImage,jdbcType=VARCHAR},
      </if>
      <if test="goodsPrice != null" >
        #{goodsPrice,jdbcType=INTEGER},
      </if>
      <if test="goodsInstock != null" >
        #{goodsInstock,jdbcType=INTEGER},
      </if>
      <if test="goodsStatus != null" >
        #{goodsStatus,jdbcType=INTEGER},
      </if>
      <if test="goodsTypeid != null" >
        #{goodsTypeid,jdbcType=INTEGER},
      </if>
	  <if test="goodsColor != null" >
        #{goodsColor,jdbcType=VARCHAR},
      </if>
      <if test="goodsStandard != null" >
        #{goodsStandard,jdbcType=VARCHAR},
      </if>
	  
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huamall.entity.Goods" >
    update goods
    <set >
      <if test="goodsTitle != null" >
        goods_title = #{goodsTitle,jdbcType=VARCHAR},
      </if>
      <if test="goodsDetail != null" >
        goods_detail = #{goodsDetail,jdbcType=VARCHAR},
      </if>
      <if test="goodsImage != null" >
        goods_image = #{goodsImage,jdbcType=VARCHAR},
      </if>
      <if test="goodsPrice != null" >
        goods_price = #{goodsPrice,jdbcType=INTEGER},
      </if>
      <if test="goodsInstock != null" >
        goods_instock = #{goodsInstock,jdbcType=INTEGER},
      </if>
      <if test="goodsStatus != null" >
        goods_status = #{goodsStatus,jdbcType=INTEGER},
      </if>
      <if test="goodsTypeid != null" >
        goods_typeid = #{goodsTypeid,jdbcType=INTEGER},
      </if>
	  <if test="goodsColor != null" >
        goods_color = #{goodsColor,jdbcType=VARCHAR},
      </if>
      <if test="goodsStandard != null" >
        goods_standard = #{goodsStandard,jdbcType=VARCHAR},
      </if>
    </set>
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huamall.entity.Goods" >
   update goods
    set goods_title = #{goodsTitle,jdbcType=VARCHAR},
      goods_detail = #{goodsDetail,jdbcType=VARCHAR},
      goods_image = #{goodsImage,jdbcType=VARCHAR},
      goods_price = #{goodsPrice,jdbcType=INTEGER},
      goods_instock = #{goodsInstock,jdbcType=INTEGER},
      goods_status = #{goodsStatus,jdbcType=INTEGER},
      goods_typeid = #{goodsTypeid,jdbcType=INTEGER},
      goods_color = #{goodsColor,jdbcType=VARCHAR},
      goods_standard = #{goodsStandard,jdbcType=VARCHAR}
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </update>
  <select id="selectGoodsByTypeInfo" parameterType="java.lang.String" resultType="com.huamall.entity.Goods">
   SELECT *FROM goods where goods_typeid=(SELECT type_id FROM type WHERE type_info=#{info})
  </select>
  
</mapper>